nltk
chainlit==0.7.501
tiktoken
chromadb
loguru
# pysqlite3-binary # uncomment if python < 3.10
pdfplumber
icecream
python_dotenv
langchain
langchain-community
langchain-chroma
langchain-google-genai
langchain-groq
llama-index
llama-parse
